@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  height: 75vh;
  margin: 5rem 0 0 0;
  padding: 1em;
  background-color: #e4fde1;
  font-family: Arial, Helvetica, sans-serif;
}

/* html {
  background-color: #e4fde1;
}

span {
  font-weight: 700;
}

p {
  font-weight: 600;
}

.component-titles {
  font-weight: 700;
}

.App Select {
  width: 12rem;
  display: inline-flex;
  background-color: #e4fde1;
  border-color: #941C2F;
  color: #941C2F;
}

.App Button {
  color: #941C2F;
  border-color: #941C2F;
}

.App Button:hover {
  background-color: #941C2F;
  border-color: #941C2F;
  color: black;
}

.App Button:active {
  border-color: #941C2F;
}

#keys {
  width: 6rem;
} */

/* color pallete */
/* 
#E4FDE1
#941C2F
#05668D
#D38B5D
#2C5530 
*/