@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rainbow-gradient {
    background-image: linear-gradient(
      180deg in oklab,
      oklch(82% 0.1 19) 9% 9%,
      oklch(92.76% 0.091 89.73) 35% 35%,
      oklch(93.84% 0.08984348315783974 177.4933612761077) 73% 73%,
      oklch(5% 0.14 307) 100%
    );
  }
}

@layer components {
  .h1 {
    @apply font-bold text-3xl sm:text-5xl md:text-6xl;
  }
  .h2 {
    @apply font-normal text-xl sm:text-2xl md:text-4xl;
  }
  .h3 {
    @apply font-normal text-base sm:text-lg md:text-2xl;
  }
  .footer-link {
    @apply font-light text-sm md:text-base hover:opacity-50;
  }
  .quote {
    @apply font-light text-gray-500 text-xs sm:text-sm leading-[1.25rem] sm:leading-[2rem];
  }
}

html {
  font-family:
    Helvetica Neue,
    Arial,
    sans-serif;
}

/* h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
} */
